<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-aliyunpush"
        version="3.2.0">
    <name>Aliyun push</name>
    <description>Cordova Push Plugin,use Aliyun SDK</description>
    <license>Apache 2.0</license>
    <keywords>cordova,aliyun,push</keywords>

    <engines>
        <engine name="cordova-android" version=">=5.0.0"/>
    </engines>

    <preference name="$APP_KEY" default=""/>
    <preference name="$APP_SECRET" default=""/>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AliyunPush">
                <param name="android-package" value="com.tubugs.cordova.AliyunPushPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.RESTART_PACKAGES" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.REORDER_TASKS" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- 消息接收服务 -->
            <service
                    android:name="com.alibaba.sdk.android.push.MsgService"
                    android:exported="false">
                <intent-filter>
                    <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
                </intent-filter>
            </service>
            <service android:name="com.alibaba.sdk.android.push.channel.CheckService"
                     android:process=":channel">
                <intent-filter>
                    <action android:name="com.alibaba.sdk.android.push.CHECK_SERVICE" />
                </intent-filter>
            </service>
            <service android:name="com.taobao.accs.ChannelService"
                     android:exported="true" android:process=":channel">
                <intent-filter>
                    <action android:name="com.taobao.accs.intent.action.SERVICE"/>
                </intent-filter>
            </service>
            <service
                    android:name="com.taobao.accs.ChannelService$KernelService"
                    android:exported="false"
                    android:process=":channel" >
            </service>
            <service android:name="com.taobao.accs.data.MsgDistributeService"
                     android:exported="true">
                <intent-filter>
                    <action android:name="com.taobao.accs.intent.action.RECEIVE" />
                </intent-filter>
            </service>
            <receiver android:name="com.taobao.accs.EventReceiver"
                      android:process=":channel">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                    <data android:scheme="package"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.USER_PRESENT"/>
                </intent-filter>
            </receiver>
            <receiver android:name="com.taobao.accs.ServiceReceiver"
                      android:process=":channel">
                <intent-filter>
                    <action android:name="com.taobao.accs.intent.action.COMMAND"/>
                </intent-filter>
                <intent-filter>
                    <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO"/>
                </intent-filter>
            </receiver>
            <service android:name="org.android.agoo.accs.AgooService"
                     android:exported="true" >
                <intent-filter>
                    <action android:name="com.taobao.accs.intent.action.RECEIVE" />
                </intent-filter>
            </service>
            <service android:name="com.alibaba.sdk.android.push.AliyunPushIntentService"
                     android:exported="true"
            >
                <intent-filter>
                    <action android:name="org.agoo.android.intent.action.RECEIVE" />
                </intent-filter>
            </service>
            <receiver
                    android:name="com.taobao.agoo.AgooCommondReceiver"
                    android:process=":channel"
                    android:exported="true" >
                <intent-filter>
                    <action android:name="${applicationId}.intent.action.COMMAND" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_REMOVED" />
                    <data android:scheme="package" />
                </intent-filter>
            </receiver>
            <service
                    android:name="com.alibaba.sdk.android.push.channel.TaobaoRecvService"
                    android:exported="true"
                    android:process=":channel">
                <intent-filter>
                    <action android:name="org.android.agoo.client.MessageReceiverService" />
                </intent-filter>
            </service>
            <!-- V3.0.7及以上版本需配置 -->
            <service android:name="com.alibaba.sdk.android.push.channel.KeepChannelService"
                     android:permission="android.permission.BIND_JOB_SERVICE"
                     android:process=":channel" />
            <receiver android:name="com.alibaba.sdk.android.push.SystemEventReceiver"
                      android:process=":channel">
                <intent-filter>
                    <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                </intent-filter>
            </receiver>
            <!-- V3.0.9及以上版本需配置 -->
            <activity
                    android:name="com.alibaba.sdk.android.push.keeplive.PushExtActivity"
                    android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
                    android:excludeFromRecents="true"
                    android:exported="false"
                    android:finishOnTaskLaunch="false"
                    android:launchMode="singleInstance"
                    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                    android:process=":channel"
            >
            </activity>
            <!-- 消息接收监听器 （用户可自主扩展） -->
            <receiver
                    android:name="com.tubugs.cordova.MyMessageReceiver"
                    android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
                <intent-filter>
                    <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
                </intent-filter>
            </receiver>
            <meta-data android:name="com.alibaba.app.appkey" android:value="$APP_KEY "/> <!-- 请填写你自己的- appKey -->
            <meta-data android:name="com.alibaba.app.appsecret" android:value="$APP_SECRET"/> <!-- 请填写你自己的appSecret -->
        </config-file>

        <source-file src="src/android/AliyunPushPlugin.java" target-dir="src/com/tubugs/cordova"/>
        <source-file src="src/android/MyMessageReceiver.java" target-dir="src/com/tubugs/cordova"/>
        <source-file src="libs/armeabi/libcocklogic-1.1.3.so" target-dir="libs/armeabi"/>
        <source-file src="libs/armeabi/libtnet-3.1.11.so" target-dir="libs/armeabi"/>
        <source-file src="libs/armeabi-v7a/libcocklogic-1.1.3.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="libs/armeabi-v7a/libtnet-3.1.11.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="libs/arm64-v8a/libcocklogic-1.1.3.so" target-dir="libs/arm64-v8a"/>
        <source-file src="libs/arm64-v8a/libtnet-3.1.11.so" target-dir="libs/arm64-v8a"/>
        <source-file src="libs/x86/libcocklogic-1.1.3.so" target-dir="libs/x86"/>
        <source-file src="libs/x86/libtnet-3.1.11.so" target-dir="libs/x86"/>
        <source-file src="libs/x86_64/libcocklogic-1.1.3.so" target-dir="libs/x86_64"/>
        <source-file src="libs/x86_64/libtnet-3.1.11.so" target-dir="libs/x86_64"/>
        <source-file src="libs/alicloud-android-push-sdk-3.0.11.jar" target-dir="libs"/>
        <source-file src="libs/alicloud-android-ut-5.1.0.jar" target-dir="libs"/>
        <source-file src="libs/utdid4all-1.1.5.3_proguard.jar" target-dir="libs"/>
    </platform>
</plugin>
